[package]
name = "cuer_database"
version = "0.3.0"
authors = ["Alexander Sopicki <asopicki@gmail.com>"]
edition = "2018"

[dependencies]
serde = "*"
serde_derive = "*"
diesel = { version = "^1.3", features = ["sqlite"] }
dotenv = "^0.9"
